// src/scss/main.scss
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "./icons/fontawesome";
@import "./variables/vars";
@import "./components/navbar";
@import "./components/heroes";
@import "./components/skill";


/* $primary-color: #ff5733;

body {
  background-color: $primary-color;
  color: white;
}
 */